body {
    margin: 0;
    background-color: rgb(35, 35, 35);
    text-align: center;
}

img {
    height: 15vw;
    border-radius: 20%;
}

a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

#Hi {
    background: linear-gradient(rgb(172, 31, 31) 0%, rgb(35, 35, 35) 100%);
    height: 40vw;
}

#Correo {
    font-size: 1.3vw;
}

h1 {
    font-size: 2.3vw;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#Nameee {
    font-size: 2vw;
    font-family: 'Nunito', sans-serif;
    color: white;
}

#JuegoB {
    text-decoration: underline !important;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3vw;
}

h2 {
    font-size: 1.3vw;
    font-family: 'Nunito', sans-serif;
    color: white;
}

#MiVidaa {
    font-family: 'Nunito', sans-serif;
    padding: 4vw;
}

.line {
    height: 3px;
    background-color: white;
    width: 42.5vw;
    margin: -3vw auto;
    border-radius: 24%;
}

.parallax-inner {
    vertical-align: middle;
    padding-top:6vw;
}

.menu {
    right: -0.4vw;
    font-family: 'Nunito', sans-serif;
    position:fixed;
    height: 1.75vw;
    width: 27.4vw;
    margin-top: 2vw;
    top: 0px;
    padding-left: 0.1vw;
    z-index: 1;
    border-radius: 0.35vw;
    background-color: rgb(70, 70, 70);
}

.links {
    font-size: 1.225vw;
    float: left;
    display: inline;
    padding-left: 1vw;
    font-family: 'Nunito', sans-serif;
    padding-right: 0.3vw;
}

iframe {
    border-radius: 1.3vw;
}

#YouTubePlayer {
    height: 25vw;
    width: 44.445vw;
}

#GoogleMap {
    width: 70%;
    height: 30vw;
}

a {
    color: white;
    font-size: 90%;
}

p {
    color: white;
    font-size: .9vw;
}

.links:hover {
font-size: 115%;
text-decoration: underline;
font-family: 'Nunito', sans-serif;
} 